@import "../node_modules/foundation-sites/scss/foundation";
@include foundation-reveal;

.cookie-consent {    
    max-width: calc(100% - 2rem);
    margin: 1rem auto;
    height: auto;
    min-height: auto;
    &__button {
        margin-bottom: .5rem;
        display: block;
        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(medium) {
            margin-bottom: 0;
            display: inline-block;
        }
    }
    &__field {
        &--checkbox {
            &:disabled ~ .switch-paddle {
                cursor: not-allowed;
            }
        }
    }
}

.cookie-consent-field {
    @include grid-row;
    @include grid-row-nest;
    &__field,
    &__label {
        box-sizing: border-box;
        @include grid-col;
        @include grid-col-size(6);
        @include breakpoint(medium) {
            @include grid-col-size(2);
        }
    }
    &__field {
        @include breakpoint(medium) {
            @include grid-col-pos(8);
        }
        .switch {
            float: right;
        }
    }
    &__description {
        box-sizing: border-box;
        @include grid-col;
        @include breakpoint(medium) {
            @include grid-col-size(8);
            @include grid-col-pos(-2);
        }
    }
    &__message {
        box-sizing: border-box;
        @include grid-row;
        @include grid-col;
    }
}

.cookie-consent-form fieldset {
    @include grid-row;
}
